h1 {
    background-color: rgb(66, 223, 223);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

table {
    padding: 10px;
    margin: auto;
}

.border-none {
    border: none;
    background-color: white;
}

.orange {
    background-color: orange;

}

.txt-green {
    color: green;
}

.blue {
    background-color: rgb(158, 218, 241);
}

.pink {
    background-color: palevioletred;
}

.txt-purple {
    color: rgb(87, 15, 221);
}

.sky {
    background-color: rgb(46, 170, 241);
}

.brown {
    background-color: rgb(165, 101, 42);
}

.li-yellow {
    background-color: rgb(174, 177, 43);
}

.txt-red {
    color: red;
}

.li-pink {
    background-color: lightpink;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: greenyellow;
}

.font-zine {
    font-size: 11px;
    font-weight: bold;
}
